<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Page</title>
</head>
<body>

{% if messages %}

    {% for message in messages %}
        <span class="{{ message.tags }}">{{ message }}</span>
    {% endfor %}

{% endif %}

<h1>Books</h1>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'books:detail' book.id %}">{{ book.title }}</a>
            </li>
            <br>
        {% endfor %}
    </ul>
{% else %}
    No books found.
{% endif %}

</body>
</html>